<div class="container mt-5">
    <h2>Records</h2>
    <form id="records-form">
        {{#each records}}
            <div class="form-group row record-row" data-label="{{this.label}}">
                <label class="col-sm-2 col-form-label">{{this.label}}</label>
                <div class="col-sm-8">
                    <span class="record-value">{{#if this.value}}{{this.value}} kg{{else}}Add record{{/if}}</span>
                    <input type="number" name="{{this.label}}" class="form-control record-input d-none" value="{{this.value}}" required>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary edit-btn">Edit</button>
                    <button type="button" class="btn btn-success save-btn d-none">Save</button>
                </div>
            </div>
        {{/each}}
    </form>
</div>